body {
  background-color: black;
}

.container {
  border: 3px solid #333333;
  height: 900px; width: 1500px;

  display: flex;
  /*flex-direction: column-reverse;*/
  justify-content: space-around;
  align-items: center  ;
  flex-wrap: wrap;
}


.item {
  
  color:#fff;
  background-color: rgb(39, 138, 9);
  padding: 0.9;
  width: 30%;
  
}

.pic {
  
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
  
}
  
h2 {
  text-align: center ;
  margin: 5px;
  
}

.enlarge:hover 
  {
    transform: scale(1.5);
    transition: 2s;
}